<div class="row">
  <div class="column">
    <h4>Oops, Something went wrong!</h4>
    <p class="error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{message}}</p>
    <a href="{{buttonPath}}" class="button button-outline">{{buttonText}}</a>
  </div>
</div>
