<div class="row">
  <div class="column column-75">
    <form action="analyze" method="get">
      <fieldset>
        <label for="echoCampaignId">Echo Campaign ID </label>
        <input type="text" placeholder="i.e. 11395" name="echoCampaignId" id="echoCampaignId">
      <label>Promotion Domain</label>
      <div class="row">
        <div class="column column-20" style="display: flex;">
          <select>
            <option value="https://">https://</option>
          </select>
        </div>
        <div class="column column-33">
          <select name="subdomain" id="subdomain">
            <option value="promotions.">promotions.</option>
            <option value="in.">in.</option>
            <option value="kampagner.">kampagner.</option>
          </select>
        </div>
        <div class="column column-">
          <select name="brand" id="brand">
            <option value="betsson">betsson</option>
            <option value="nordicbet">nordicbet</option>
            <option value="betsafe">betsafe</option>
          </select>
        </div>
        <div class="column column-20">
          <select name="topdomain" id="topdomain">
            <option value=".com">.com</option>
            <option value=".dk">.dk</option>
          </select>
        </div>
      </div>
      <label for="optInCode">Opt In Code:</label>
      <input type="text" placeholder="WC2018_RFB_NO" name="optInCode" id="optInCode">
      <input class="button-primary" type="submit" value="Check Campaign">
    </fieldset>
    </form>
  </div>
</div>
