<div class="container">
  <h1 class="app-heading">{{ title }}</h1>
  <div class="form-container">
    <form action="analyze" method="get">
      <label for="EchoCampaignId"></label>
      <input type="number" placeholder="i.e. 114335" name="EchoCampaignId" id="EchoCampaignId">
    </form>
  </div>
</div>
