<div class="overlay overlay-warning">
  <div class="modal">
    <div class="row">
      <div class="column">
        <h4 class="warning"><i class="fa fa-exclamation-triangle"></i> <b>Warning!</b></h4>
        <p>This version is being developed and tested. Results may be inaccurate and should not be the last instance.<br>
          Only 'Opt In links' are being tested.</p>
        <label for="check-warning">Got it!
        <input type="checkbox" id="check-warning"/></label>
        <input type="button" class="button button-primary"  value="Continue">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column column-75">
    <form action="analyze" method="get">
      <fieldset>
        <div class="row">
          <div class="column">
            <label for="echoCampaignId">Echo Campaign ID</label>
            <input type="text" placeholder="i.e. 11395" name="echoCampaignId" id="echoCampaignId">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label>Promotion Domain</label>
          </div>
        </div>
        <div class="row">
          <div class="column column-20" style="display: flex;">
            <select>
              <option value="https://">https://</option>
            </select>
          </div>
          <div class="column column-33">
            <select name="subdomain" id="subdomain">
              <option value="promotions.">promotions.</option>
              <option value="in.">in.</option>
              <option value="kampagner.">kampagner.</option>
            </select>
          </div>
          <div class="column">
            <select name="brand" id="brand">
              <option value="betsson">betsson</option>
              <option value="nordicbet">nordicbet</option>
              <option value="betsafe">betsafe</option>
            </select>
          </div>
          <div class="column column-20">
            <select name="topdomain" id="topdomain">
              <option value=".com">.com</option>
              <option value=".dk">.dk</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="column column-66">
            <label for="optInCode">Opt In Code:</label>
            <input type="text" placeholder="WC2018_RFB_NO" name="optInCode" id="optInCode">
          </div>
          <div class="column">
            <label for="optInCode">Product:</label>
            <select name="product" id="product">
              <option value="sb">Sportsbook</option>
              <option value="ca">Casino</option>
              <option value="lca">Live Casino</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <input class="button-primary" type="submit" value="Check Campaign" id="button-init">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="overlay overlay-loading" style="display: none; opacity: 0;">
    <div class="spinner-container">
      <div class="spinner"></div>
      <div class="spinner-description">The server is checking your campaign.<br>This might take a few seconds...</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  console.log('%cHey, I hope you are having a good day!', 'background: #006EB4; color: #fff; font-size: 12px; padding: 4px 10px; text-shadow:1px 1px rgba(0,0,0,0.4)');
  if (! localStorage.getItem('acceptedwarning')) {
    $('.overlay-warning').css('display', 'flex');
  }
  $('.overlay-warning .button').on('click', function(ev) {
    if ($('#check-warning:checked').length) {
      localStorage.setItem('acceptedwarning', 'true');
      $('.overlay-warning').remove();
    } else {
      $('#check-warning').parent().addClass('error');
    }
  });
  $('#button-init').on('click', function(ev) {
    $('.overlay-loading').css('display', 'flex');
    $('.overlay-loading').animate({opacity: 1}, 800);
  });
</script>
