<div class="row">
  <div class="column column-75">
    <form action="analyze" method="get">
      <fieldset>
        <div class="row">
          <div class="column column-80">
            <label for="echoCampaignId">Echo Campaign ID<span class="error">*</span></label>
            <input type="number" placeholder="i.e. 11395" name="echoCampaignId" id="echoCampaignId">
          </div>
          <div class="column">
            <label for="defaultLanguage">Default language<span class="error"></span></label>
              <select name="defaultLanguage" id="defaultLanguage">
              <option value="en">en</option>
              <option value="sv">sv</option>
              <option value="no">no</option>
              <option value="fi">fi</option>
              <option value="da">da</option>
              <option value="is">is</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label>Promotion Domain</label>
          </div>
        </div>
        <div class="row">
          <div class="column column-20" style="display: flex;">
            <select>
              <option value="https://">https://</option>
            </select>
          </div>
          <div class="column column-33">
            <select name="subdomain" id="subdomain">
              <option value="promotions.">promotions.</option>
              <option value="in.">in.</option>
              <option value="kampagner.">kampagner.</option>
            </select>
          </div>
          <div class="column">
            <select name="brand" id="brand">
              <option value="betsson">betsson</option>
              <option value="nordicbet">nordicbet</option>
              <option value="betsafe" disabled>betsafe</option>
            </select>
          </div>
          <div class="column column-20">
            <select name="topdomain" id="topdomain">
              <option value=".com">.com</option>
              <option value=".dk">.dk</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="column column-66">
            <label for="optInCode">Opt In Code<span class="error">*</span></label>
            <input type="text" placeholder="i.e. WC2018_RFB_NO" name="optInCode" id="optInCode">
          </div>
          <div class="column">
            <label for="optInCode">Product</label>
            <select name="product" id="product">
              <option value="sb">Sportsbook</option>
              <option value="ca">Casino</option>
              <option value="lca">Live Casino</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <input class="button-primary" type="submit" value="Check Campaign" id="button-init">
          </div>
        </div>
      </fieldset>
    </form>
    <hr>
  </div>
  <div class="overlay overlay-loading" style="display: none; opacity: 0;">
    <div class="spinner-container">
      <div class="spinner"></div>
      <div class="spinner-description">Your campaign is being checked.<br>This will only take a few seconds...</div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="column">
        <h4>WARNING:</h4>
        <p class="no-margin"><em>This software is currently under development. Results might not always be correct.
          If you find any bugs, you can report them <a href="mailto:clemens.a.janes@gmail.com">here.</a></em>
        </p>
      </div>
    </div>
  </footer>
</div>

<script type="text/javascript">
  console.log('%cHey, I hope you are having a good day!', 'background: #006EB4; color: #fff; font-size: 12px; padding: 4px 10px; text-shadow:1px 1px rgba(0,0,0,0.4)');
  if (! localStorage.getItem('acceptedwarning')) {
    $('.overlay-warning').css('display', 'flex');
  }
  $('#button-init').on('click', function(ev) {
    $('.overlay-loading').css('display', 'flex');
    $('.overlay-loading').animate({opacity: 1}, 800);
  });
</script>
