.wrapper {
  width: 960px;
  margin: 0 auto;
}

input.button-primary {
  background-color: #407A52;
  border-color: #407A52;
}

input.button-primary:hover {
  background-color: #276139;
  border-color: #407A52;
}
