h3 {
  font-weight: 400;
}

a {
  color: #003171;
  transition: none;
}

a:hover {
  color: #006e70;
  text-decoration: underline;
}

p.note {
  font-size: 1.125rem;
  color: #a0a0a5;
  font-style: italic;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.app-header {
  margin-bottom: 5rem;
  padding: 1.5rem 0;
  border-bottom: 1px solid #cacaca;
}

label {
  color: #003171;
  font-weight: 500;
}

label.label-result, label.label-overview {
  font-size: 1.8rem;
  text-align: center;
  background: #4B8FA3;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.8rem 0;
  margin: 0;
}

label.label-overview {
  background: #0D5165;
  text-align: left;
  padding-left: 2rem;
}

.row .column input:focus,
.row .column select:focus {
  border-color: #5C84C5;
}

input.button-primary {
  background-color: #407A52;
  border-color: #407A52;
}

input.button-primary:hover {
  background-color: #276139;
  border-color: #407A52;
}

input.button.button-outline, a.button.button-outline {
  border: 0.125rem solid #1F4788;
  color: #1F4788;
}

input.button.button-outline:hover, a.button.button-outline:hover {
  background: #1F4788;
  color: #fff;
  border-color: #1F4788;
  text-decoration: none;
}

select, select:focus {
  background: transparent;
  -webkit-appearance: menulist;
}

i.icon-big {
  font-size: 2rem !important;
}

.success {
  color: #26A65B !important;
  font-weight: 400;
}

.error {
  color: #8F1D21 !important;
  font-weight: 400 !important;
}

.warning {
  color: #FFA400 !important;
  font-weight: 400;
}

.results-container {
  margin-bottom: 3rem;
}

.result-container {
  margin-bottom: 2rem;
}

table {
  margin: 0;
  border-collapse: collapse;
}

table td, table th {
  padding: 1.2rem 1.5rem;
  font-weight: 400;
}

td:first-child, th:first-child {
  padding: 1.2rem 1.5rem;
}

td {
  color: #232323;
}

.result-table, .result-overview-table, .result-warning-table {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.result-table th, .result-table td {
  text-align: center;
}

.result-table th {
  font-weight: 700;
}

.result-table td, .result-warning-table td {
  font-size: 1.35rem;
}

.result-table td i {
  font-size: 1.125rem;
}

.result-warning-table td i {
  margin-right: 0.5rem;
}

.result-recap {
  font-size: 1.325rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.result-recap.success {
  background: #26A65B;
}

.result-recap.error {
  background: #8F1D21;
}

.result-recap.warning {
  background: #FFA400;
}

/* helpers */

.no-margin {
  margin: 0 !important;
}

/* overlay, modal, spinner */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,20,0.66);
  z-index: 100;
  opacity: 1;
  display: none;
}

.modal {
  margin: auto;
  padding: 2.75rem 5.5rem;
  background: #fff;
}

.spinner-container {
  margin: auto;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 6px solid #87D37C;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 60px;
  animation: spin 1200ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
